[Unit]
Description=Preconfigure MegaCMD sync /crypt
Wants=megacmd-server.service
After=megacmd-server.service
      
[Service]
Type=oneshot
ExecStart=/usr/bin/mega-sync /crypt /crypt
RemainAfterExit=yes
User=who
      
[Install]
WantedBy=multi-user.target

