[Unit]
Description=MegaCMD background server
After=network.target

[Service]
ExecStart=/usr/bin/mega-cmd-server
Restart=on-failure
User=who
      
[Install]
WantedBy=multi-user.target
